* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --main-color: rgb(88, 128, 236);
    --fade-main-color: rgba(88, 127, 236, 0.623);
}

body {
    widows: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 70px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}

header h2 {
    margin-left: 30px;
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
}

header ul {
    display: inherit;
    list-style: none;
    margin-right: 30px;
}

header ul li {
    margin: 10px 20px;
    cursor: pointer;
    font-size: 17px;
    transition: all .3s ease;
}

header ul li:hover{
   color: rgb(0, 0, 0);
}

.hamburger-menu {
    display: none;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 1.7.8rem;
    width: 1.4rem;
    cursor: pointer;
    z-index: 2000000;
  }
  .bar-top,
  .bar-middle,
  .bar-bottom {
    height: 2px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 3px 0;
    transform-origin: left;
    transition: all 0.5s;
  }
  .bar-top-animate {
    transform: rotate(45deg);
    background-color: #000;
  }
 .bar-middle-animate {
    transform: translateX(1rem);
    opacity: 0;
  }
  .bar-bottom-animate {
    transform: rotate(-45deg);
    background-color: #000;
  }

  .side-bar {
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 190px;
      position: absolute;
      z-index: 1000;
      background-color: white;
      box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.3);
      top: -220px;
      transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      color: black;
  }

  .side-bar ul {
      display: block;
      width: 100%;
  }

  .side-bar ul li {
      padding: 11px;
      cursor: pointer;
      background-color: rgba(88, 127, 236, 0.1);
      margin-top: 7px;
  }
  .side-bar ul li:hover {
      background-color: var(--fade-main-color);
      display: block;
  }


  .move-side-bar {
    top: 0;
  }

.div1 {
    background-color: var(--main-color);
    height: 50%;
    font-weight: 500;
    color: white;
    position: relative;
    width: 100%;
}
.flex {
    display: flex;
}

.none {
    display: none;
}

.title-container {
    display: inline-flex;
    flex-direction: column;
    /* margin-left: 70px;
    margin-top: 70px; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    min-width: 240px;
    padding: 3px;
}

.header-title {
    font-size: 2rem;
}

.calculator-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 140px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.3);
}

.inputs-container {
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.inputs-container input {
    width: 70px;
    height: 30px;
    border: none;
    border-bottom: 2px solid var(--fade-main-color);
    text-align: center;
    outline: none;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.inputs-container input:focus{
    border-bottom: 2px solid var(--main-color);
}

#name {
    display: block;
    text-align: left;
    height: 30px;
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--fade-main-color);
    font-size: 1.2rem;
}

#name:focus {
    border-bottom: 2px solid var(--main-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    color: inherit;
    cursor: pointer;
} 

.result-container {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    color: rgb(58, 58, 58);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.3);
    width: 300px;
    padding: 10px;
    /* word-break: break-all; */
    word-wrap: break-word;
}

.result-container h2 {
    font-size: 1.2rem;
    width: 100%;
    
}

@media screen and (max-width: 790px) {
    header {
        height: 50px;
    }

    header h2 {
        font-size: x-large;
        margin-left: 10px;
    }

    header ul {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}
@media screen and (max-width: 320px) {
    .calculator-container {
        width: 240px;
    }

    .result-container {
        width: 240px;
    }
}